::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}


#popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    z-index: 999;
    transition-duration: .3s;
}
#popup .bg{
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}
#popup img{
    margin-top: 2%;
    height: 90%;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}
div {
    /*border: 1px solid black;*/
    margin: 3px;
}
.all-divs{
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    /*background: rgba(178,187,190,0.7);*/
    transition-duration: .3s;

}
.all-divs::after{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    position: fixed;
    z-index: -999;
    height: 100vh;
    width: 100%;
    background-image: url(../img/altitude-clouds-cold-933054-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter:blur(1px);
}

/*---------------------- overview -----*/
.head-bar{
    height: 75px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background: rgba(36, 36, 36, 0.2);
}

.head-bar .btn{
    max-width: 140px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.overview-button-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.head-bar .btn button, .head-bar a{
    height: 50px;
    width: 80%;
    font-size: 15px;
    min-width: 100px;
    font-weight: bold;
    color: #f3f3f3;
    background: none;
    border: 0 solid gray;
    transition-duration: 200ms;
}
.head-bar .btn button:hover , .head-bar a:hover{
    color: #000;
    font-size: 17px;
    font-weight: lighter;
    border-width: 0 0 1px 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3) ;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    opacity: 0.3;
}
.head-title{
    min-width: 500px;
    display: block;
    text-align: center;
    font-size: 35px;
    padding: 7px;
    color: #f3f3f3;
    /*font-family: , sans-serif;*/
}
.head-bar .session-state{
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*min-width: 70px;*/
}
.head-bar a{
    min-width: 30px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.overview-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.overview-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.overview-middle{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.overview-middle-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.overview-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
}


/*Charts-father 用来给charts居中 charts来完成charts的透明框以及一些其他的设置*/
.charts-father{
    margin: 0;
    padding: 0;
}
.charts{
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 400px;
    height: 95%;
    width: 95%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);

    overflow: auto;
    /*background: rgba(0, 0, 0, 0.2);*/
}

.device-state{
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: rgba(255, 255, 255, 0.51);
}
.device-state::after{
    background: #f3f3f3;
    filter : blur(10px);
}
.device-para{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
}

/*-----------------login ---------------*/

.login-body{
    padding: 0;
    margin: 0;
    display: flex;


    justify-content: center;
    align-items: center;
    /*background: rgba(178,187,190,0.7);*/

}
.login-body::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    z-index: -999;
    height: 100vh;
    width: 100%;
    background-image: url(../img/altitude-clouds-cold-933054-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter:blur(1px);
}
.login-box{
    display: block;
    /*justify-content: center;;*/
    /*align-items: center;*/
    width: 25%;
    /*min-height: 500px;*/
    /*height: 30%;*/
    padding: 70px 50px 70px 50px;
    background: rgba(0, 0, 0,.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.login-box p{
    margin: 7px;
    padding: 0;
    color: #f3f3f3;
    text-align: center;
    font-size: 35px;
}
.login-box .smaller-para{
    font-size: 20px;
}

.login-box .inputBox{
    position: relative;
}
.login-box .inputBox input{
    width: 100%;
    padding: 15px 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #f3f3f3;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #f3f3f3;
    outline: none;
    background: transparent;
}

.login-box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #03a9f4;
    pointer-events: none;
    -webkit-transition: .5s ;
    -moz-transition: .5s ;
    transition: .5s ;
}

.login-box .inputBox input:focus ~ label,
.login-box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 1rem;
}
.login-box input[type='submit']
{
    border: none;
    outline: none;
    color: #f3f3f3;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
}



.login-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------- monitor -----------*/

.monitor-content{
    display: grid;
    grid-template-columns: 1fr 6fr;
    overflow: hidden;
}

.monitor-amount{
    /*background: rgba(0, 0, 0, .2);*/
}
.monitor-amount {
    background: rgba(255, 255, 255, .2);
    /*background: rgba(255, 255, 255, .2);*/
    width: 100%;
    height: 80%;
    /*min-height: 500px ;*/
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
}
.monitor-amount > div  > div {
    margin: 0;
    font-size: 1.2rem;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    background: rgba(255, 255, 255, .3);
    width: 90px;
    pointer-events: none;
    color: #090909;
}

.monitor-live {
    display: grid;
    max-height: 100%;
    grid-template-rows: auto 1fr;
    margin: 6px 30px 30px 30px;
    background: rgba(255, 255, 255, .2);
    /*background: rgba(0, 0, 0, .5);*/
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
    overflow: hidden;
}
.tab-title, .charts .title{
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 17px;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    background: rgba(255, 255, 255, .3);
    width: 90px;
    pointer-events: none;
    color: #090909;
}

.monitor-container{
    overflow: auto;
}
.monitor-live-main{
    height: 100%;
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2px;

}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;

}
.monitor-live-main div{
    /*background: rgba(255, 255, 255, .4);*/
    min-height: 300px;
    /*background: rgba(0, 0, 0,.3);*/
}
/*.monitor-amount:before{*/
/*content: '';*/
/*position: absolute;*/
/*top: -2px;*/
/*left: -2px;*/
/*right: -2px;*/
/*bottom: -2px;*/
/*background: ;*/
/*z-index: -1;*/

/*.monitor-amount:before{*/
/*content: '';*/
/*position: absolute;*/
/*top: -2px;*/
/*left: -2px;*/
/*right: -2px;*/
/*bottom: -2px;*/
/*background: ;*/
/*z-index: -1;*/



/*----------------------  warning ------------*/


.warning-body{
    margin: 20px;
    background: rgba(255, 255, 255, .2);
}
.warning-content{
    width: 95%;
    height: 95%;
    /*background: rgba(255, 255, 255, .2);*/
}

.my-table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    /*height: 500px;*/
    max-height: 75vh;
    overflow-x:auto;
    margin-top: 0;
    border: 1px solid rgba(255,255,255,0.3);
}
.my-th{
    padding: 20px 15px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.my-td{
    padding: 15px;
    vertical-align:middle;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    overflow: auto;
}
.my-td img{
    width: 200px;
}

.warning-body #add-tr tr.active{
    background: darkseagreen;
}


/* the slide part */

.slide-content{
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 0;
    padding: 0;
    display: flex;
    /*align-items: center;;*/
    justify-content: center;
    position:relative;
    /*margin:20px auto;*/
    width: 100%;
    height: 100%;
}
#wrap .banner {
    margin: 0;
    padding: 0;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    transition: opacity 2s;
}

#wrap .banner .banner-img{
    margin: 0;
    padding: 0;
    width: 95%;
}

#wrap .banner-img img{
    margin: 0;
    padding: 0;
    width: 100%;
}
#wrap .tab{
    position:absolute;
    bottom:30px;
    align-self: center;
}
#wrap .tab span{
    display: inline-block;
    width:6px;
    height:6px;
    margin:3px;
    background:rgba(105,105,105,0.5);
    border-radius:50%;
    cursor: pointer;
    border:2px solid #887B6E;
}
#wrap .tab span.on{
    background:#E2CEB7;
}
#wrap .tab span:hover{
    background:#E2CEB7;
}
#wrap .prev {
    position:absolute;
    left:20px;
    top: 40%;
    width:41px;
    height:69px;
    background: url(../img/icon-slides.png) 82px;
    cursor:pointer;
}
#wrap .prev:hover{
    background: url(../img/icon-slides.png);
}
#wrap .next {
    position:absolute;
    right:20px;
    top: 40%;
    width:41px;
    height:69px;
    background: url("../img/icon-slides.png") 41px;
    cursor:pointer;
}
#wrap .next:hover{
    background: url(../img/icon-slides.png) 123px;
}

@media screen and (max-width: 1440px){
    .head-bar{
        display: grid;
        grid-template-rows: 40px 50px;
        grid-template-areas: 
            "title title title title"
            "button button button state";
    }
    .head-title{
        grid-area: title;
    }
    .overview-button-div{
        grid-area: button;
    }
    .session-state{
        grid-area: state;
    }
    .head-bar{
        height:90px;
    }
    .head-bar .btn{
        height: 50px;
    }
    .overview-content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "left right"
            "middle middle";
    }
    .overview-left{
        grid-area: left;
    }
    .overview-right{
        grid-area: right;
    }
    .overview-middle{
        grid-area: middle;
    }
}

