{%  extends 'base.html' %}
{% load staticfiles %}

{% block title%}系统设置{% endblock %}

{% block main_body %}
    <div class="conf-content center">
        <div class="container-fixed-sm white-blur-5" style="padding: 60px 70px;">
            <div class="container-fluid no-padding">
                <nav class="navbar navbar-default" role="navigation" style="padding: 0; height: 35px; margin: 0;">
                    <div class="container-fluid" style="padding: 0;margin: 0; height: 25px;">
                        <!-- 导航头部 -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="##">设置</a>
                        </div>
                        <!-- 导航项目 -->
                        <div class="collapse navbar-collapse navbar-collapse-example">
                            <!-- 右侧的导航项目 -->
                        </div><!-- END .navbar-collapse -->
                    </div>
                </nav>
            </div>
            <div class="container-fixed-xs">
                <form action="/conf/" method="post">
                    <div class="form-group">
                        <label for="exampleInputAccount1">手机号</label>
                        <input type="text" class="form-control" id="exampleInputAccount1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">监控界面默认布局</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                    {#                <div class="form-group">#}
                    {#                    <label for="exampleInputMoney1">捐赠金额</label>#}
                    {#                    <div class="input-group">#}
                    {#                        <span class="input-group-addon">￥</span>#}
                    {#                        <input type="number" class="form-control" id="exampleInputMoney1" placeholder="最低捐赠金额为 ￥10.00">#}
                    {#                        <span class="input-group-addon">.00</span>#}
                    {#                    </div>#}
                    {#                </div>#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    </script>
{% endblock %}
