{%  extends 'base.html' %}
{% load staticfiles %}

{% block title%}监控可视化{% endblock %}

{% block main_body %}
    <div class="monitor-content">
        <div class="monitor-amount">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th>设备列表</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        <td>设备1</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="monitor-live">
            <div class="title">
                监控直播
            </div>
            <div class="monitor-container">
                <div id="monitor-live-main" class="monitor-live-main">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {#    <script src=" {% static 'js/login.js' %}"></script>#}
{% endblock %}
