{%  extends 'base.html' %}
{% load staticfiles %}

{% block title%}系统总览{% endblock %}

{% block main_body %}
    <div class="overview-content">
        <div class="overview-left">
            <div class="device-vol charts-father">
                <div id="vol-chart" class="charts" style="height: 95%; width: 95%;">

                </div>
            </div>
            <div class="device-online charts-father">
                <div id="online-chart" class="charts" style="height: 95%; width: 95%;">

                </div>
            </div>
        </div>
        <div class="overview-middle">
            <div class="map" id="map-container"></div>
            <div class="overview-middle-bottom">
                <div class="device-amount charts-father">
                    <div class="status-chart charts" style="height: 95%; width: 95%;">

                    </div>
                </div>
                <div class="sensor charts-father">
                    <!--<div class="title">微气象</div>-->
                    <div id="sensor-chart" style="width:95%; height: 95%;" class="charts"></div>
                </div>
            </div>
        </div>
        <div class="overview-right">
            <div class="warnings charts-father">
                <div class="warning-message charts"></div>
            </div>
            <div class="slides charts-father">
                <div class="pic-slide charts"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{#    <script type="text/javascript" src="static/echarts.js"></script>#}
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=QsGnMSGuvCa3B680i1DHAL3cDG8COE3e"></script>
    <script src="{% static 'js/overview.js' %}"></script>
    <script>
        var map = new BMap.Map("map-container");
        var point = new BMap.Point(116.404, 39.915);
        map.centerAndZoom(point, 15);
    </script>
{% endblock %}
