{%  extends 'base.html' %}
{% load staticfiles %}

{% block title%}系统总览{% endblock %}

{% block main_body %}
    <div class="overview-content">
        <div class="overview-left">
            <div class="device-vol charts-father center">
                <div class="charts">
                    <div class="title" style="width: 130px;">设备安装统计图</div>
                    <div id="vol-chart" >

                    </div>
                </div>
            </div>
            <div class="device-online charts-father center">
                <div class="charts">
                    <div class="title" style="width: 130px;">设备在线统计图</div>
                    <div id="online-chart" >
                    </div>
                </div>
            </div>
        </div>
        <div class="overview-middle">
            <div class="map" id="map-container"></div>
            <div class="overview-middle-bottom">
                <div class="device-amount charts-father center">
                    <div class="charts">
                        <div class="title">装置数量</div>
                        <div id="device-amount-state">
                        </div>
                    </div>
                </div>
                <div class="sensor charts-father center">
                    <div class="charts">
                        <div class="title">微气象</div>
                        <div id="sensor-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overview-right">
            <!-- 报警信息-->
            <div class="warnings charts-father center">
                <div class="warning-message charts">
                    <div class="title">报警信息</div>
                    <div class="message-table">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0" class="my-table">
                                <thead>
                                <tr>
                                    <th class="my-th">日期</th>
                                    <th class="my-th">预警详情</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content" style="max-height: 400px;">
                            <div class="table">
                                <table cellpadding="0" cellspacing="0" border="0" class="my-table">
                                    <tbody id="add-tr">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 图片轮播报警图片 -->
            <div class="slides charts-father center">
                <div class="pic-slide charts">
                    <div class="title">
                        预警图片
                    </div>
                    <div class="slide-content">
                        <div id="wrap">

                            <div id="wrapper" style="width: 100%; height: 100%; margin: 0;padding: 0;">

                            </div>

                            <div class="tab" id="add-span">
                            </div>

                            <div class="prev">

                            </div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {#    <script type="text/javascript" src="static/echarts.js"></script>#}
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=QsGnMSGuvCa3B680i1DHAL3cDG8COE3e"></script>
    <script>

        var message = {{ message_list|safe }};
        console.log(message);

        var addTr = document.getElementById('add-tr'),
            wrapper = document.getElementById('wrapper'),
            addSpan = document.getElementById('add-span');

        for(var i=Math.max(0,message.length-10); i<message.length; i++) {
            let theSpan = document.createElement('span');
            addSpan.appendChild(theSpan);

            let theBanner = document.createElement('div'),
                theBannerImg = document.createElement('div'),
                realImg = document.createElement('img');

            theBanner.className = 'banner center';
            theBannerImg.className = 'banner-img center';
            realImg.src = message[i].fields['img_url'];

            theBannerImg.appendChild(realImg);
            theBanner.appendChild(theBannerImg);
            wrapper.appendChild(theBanner);

            let theTr = document.createElement('tr'),
                theTime = document.createElement('td'),
                theContent = document.createElement('td');

            time_str = message[i].fields['c_time'];
            {#theTime.innerText = time_str.substr(0,10) +' ' + time_str.substr(11,8);#}
            theTime.innerText = time_str.substr(0,10);
            theTime.className = 'my-td';
            theContent.innerText = message[i].fields['content'];
            theContent.className = 'my-td';
            theTr.appendChild(theTime);
            theTr.appendChild(theContent);
            addTr.appendChild(theTr);
        }

        var DD = document.getElementById('device-amount-state');
        DD.appendChild(document.createElement('div'));
        DD.className = 'center';
        var Device = DD.children[0];
        Device.className = 'device-state';
        Device.style = 'display : grid; grid-template-columns : 1fr 1fr; border : 1 px solid black; margin : 0; padding : 15px 50px 15px 50px; ';

        (()=>{
            function DA(text, style, amount){
                let Div = document.createElement('div'),
                    Para = document.createElement('p'),
                    Para2 = document.createElement('p');

                Para.className = 'device-para';
                Para2.className = 'device-para';

                Para.innerText = text;
                Para.style = 'text-align : center';
                Para2.style = style + ' text-align : center; ';
                console.log(Para2.style);
                Para2.innerText = amount;
                Div.style = 'margin : 0; padding : 0; ';
                Div.appendChild(Para);
                Div.appendChild(Para2);
                Device.appendChild(Div);
            }
            DA('已处理数目', 'background-color : darkgreen; ', {{ user_deal }});
            DA('未处理数目', 'background-color : rgba(255, 131, 128, .7); ', {{ un_deal }} );
            DA('设备在线', 'background-color : rgba( 87, 135, 144, .7); ', {{ device_count }});
            DA('设备离线', 'background-color : rgba(97, 93, 92, .7); ', 0);
        })();

    </script>
    <script src="{% static 'js/overview.js' %}"></script>
    <script>
        var map = new BMap.Map("map-container");
        var point = new BMap.Point(120.697792, 36.369133);
        map.centerAndZoom(point, 15);

    </script>
{% endblock %}
