{%  extends 'base.html' %}
{% load staticfiles %}

{% block extern_file %}
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title%}系统总览{% endblock %}

{% block main_body %}
    <div id="index-main">
        <div class="overview-content">
            <div class="overview-left">
                <el-card  style="background: rgba(255,255,255,.4); border: 0;  margin: 10px; " :body-style="{ 'height' : '100%'}">
                    <div slot="header" >
                        <span>设备安装统计图</span>
                    </div>
                    <div id="vol-chart" style="height: 100%;"></div>
                </el-card>
                <el-card  style="background: rgba(255,255,255,.4); border: 0;  margin: 10px; " :body-style="{ 'height' : '100%'}">
                    <div slot="header">设备在线统计图</div>
                    <div id="online-chart" style="height: 100%;"></div>
                </el-card>
            </div>
            <div class="overview-middle">
                <div class="map" id="map-container"></div>
                <div class="overview-middle-bottom">
                    <el-card  style="background: rgba(255,255,255,.4); border: 0;  margin: 10px; " :body-style="{ 'height' : '100%'}">
                        <div slot="header">装置数量</div>
                        <div id="device-amount-state" style="height: 100%;"></div>
                    </el-card>
                    <el-card  style="background: rgba(255,255,255,.4); border: 0;  margin: 10px; " :body-style="{ 'height' : '100%'}">
                        <div slot="header">微气象</div>
                        <div id="sensor-chart" style="height: 100%;"></div>
                    </el-card>
                </div>
            </div>
            <div class="overview-right">
                <!-- 报警信息-->
                <div class="warnings charts-father center">
                    <div class="warning-message charts">
                        <div class="title">报警信息</div>
                        <div class="message-table">
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0" border="0" class="my-table">
                                    <thead>
                                    <tr>
                                        <th class="my-th">日期</th>
                                        <th class="my-th">预警详情</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content" style="max-height: 400px;">
                                <div class="table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="my-table">
                                        <tbody id="add-tr">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 图片轮播报警图片 -->
                <div class="slides charts-father center">
                    <div class="pic-slide charts">
                        <div class="title">
                            预警图片
                        </div>
                        <div class="slide-content">
                            <div id="wrap">

                                <div id="wrapper" style="width: 100%; height: 100%; margin: 0;padding: 0;">

                                </div>

                                <div class="tab" id="add-span">
                                </div>

                                <div class="prev">

                                </div>
                                <div class="next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {#    <script type="text/javascript" src="static/echarts.js"></script>#}
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=QsGnMSGuvCa3B680i1DHAL3cDG8COE3e"></script>
    <script>

        var message = {{ message_list|safe }};
        console.log(message);

        var addTr = document.getElementById('add-tr'),
            wrapper = document.getElementById('wrapper'),
            addSpan = document.getElementById('add-span');

        for(var i=Math.max(0,message.length-10); i< message.length; i++) {
            let theSpan = document.createElement('span');
            addSpan.appendChild(theSpan);

            let theBanner = document.createElement('div'),
                theBannerImg = document.createElement('div'),
                realImg = document.createElement('img');

            theBanner.className = 'banner center';
            theBannerImg.className = 'banner-img center';
            realImg.src = message[i].fields['img_url'];

            theBannerImg.appendChild(realImg);
            theBanner.appendChild(theBannerImg);
            wrapper.appendChild(theBanner);

            let theTr = document.createElement('tr'),
                theTime = document.createElement('td'),
                theContent = document.createElement('td');

            time_str = message[i].fields['c_time'];
            {#theTime.innerText = time_str.substr(0,10) +' ' + time_str.substr(11,8);#}
            theTime.innerText = time_str.substr(0,10);
            theTime.className = 'my-td';
            theContent.innerText = message[i].fields['content'];
            theContent.className = 'my-td';
            theTr.appendChild(theTime);
            theTr.appendChild(theContent);
            theTr.style.transitionDuration = '.3s';
            theTr.style.cursor = 'point';
            theTr.setAttribute('index',i);
            theTr.setAttribute('data-id',message[i]['pk']);
            addTr.appendChild(theTr);
        }

        var DD = document.getElementById('device-amount-state');
        DD.appendChild(document.createElement('div'));
        DD.className = 'center';
        var Device = DD.children[0];
        Device.className = 'device-state';
        Device.style = 'display : grid; grid-template-columns : 1fr 1fr; border : 1 px solid black; margin : 0; padding : 15px 50px 15px 50px; ';

        (()=>{
            function DA(text, style, amount){
                let Div = document.createElement('div'),
                    Para = document.createElement('p'),
                    Para2 = document.createElement('p');

                Para.className = 'device-para';
                Para2.className = 'device-para';

                Para.innerText = text;
                Para.style = 'text-align : center';
                Para2.style = style + ' text-align : center; ';
                console.log(Para2.style);
                Para2.innerText = amount;
                Div.style = 'margin : 0; padding : 0; ';
                Div.appendChild(Para);
                Div.appendChild(Para2);
                Device.appendChild(Div);
            }
            DA('已处理数目', 'background-color : darkgreen; ', {{ user_deal }});
            DA('未处理数目', 'background-color : rgba(255, 131, 128, .7); ', {{ un_deal }} );
            DA('设备在线', 'background-color : rgba( 87, 135, 144, .7); ', {{ device_count }});
            DA('设备离线', 'background-color : rgba(97, 93, 92, .7); ', 0);
        })();

    </script>
    <script src="{% static 'js/ezuikit.js'%} "></script>
    <script>
        var map = new BMap.Map("map-container");
        var point = new BMap.Point(120.697792, 36.369133),
            devicePoints = {{ device_points|safe }}
        map.centerAndZoom(point, 15);


        let popup = document.getElementById('popup'),
            container = popup.children[0];

        // 添加点击popup空表部分 设置display为none
        // 实现恢复正常界面效果
        popup.addEventListener('click', (e)=>{
            container.removeChild(container.children[1]);

            popup.style.display = 'none';
        });

        // 给地图上添加设备点 并且给每个点添加点击监听
        // 实现全屏播放的功能
        for(let i=0; i<devicePoints.length; i++){
            let thept = new BMap.Point(devicePoints[i][0], devicePoints[i][1]);
            let thePoint = new BMap.Marker(thept);
            let message = devicePoints[i][3];
            let infoWindow = new BMap.InfoWindow(message);


            thePoint.addEventListener('click',(e)=>{

                let theVideo = document.createElement('video'),
                    theSource = document.createElement('source'),
                    theLength = Math.min(document.body.clientHeight * 0.9, document.body.clientWidth * 0.9);


                theVideo.id = 'myPlayer';
                theVideo.style.width = theLength.toString();
                theVideo.style.height = theLength.toString();
                theVideo.setAttribute('width', theLength.toString());
                theVideo.setAttribute('height', theLength.toString());
                theVideo.setAttribute('autoplay','');
                theVideo.setAttribute('controls', '');
                theVideo.setAttribute('playsInline','');
                theVideo.setAttribute('webkit-playsinline','');

                theSource.setAttribute('src',devicePoints[i][2]);
                theVideo.appendChild(theSource);

                container.appendChild(theVideo);

                let player = new EZUIPlayer(theVideo.id);
                player.play();

                popup.style.display = 'block';

            });

            thePoint.addEventListener('mouseover', ()=>{
                thePoint.openInfoWindow(infoWindow);
            });
            thePoint.addEventListener('mouseout',()=>{
                thePoint.closeInfoWindow();
            });

            map.addOverlay(thePoint);
        }

    </script>

    <script>
        var indexMain = new Vue({
            el: '#index-main',
            data: function () {

            },
            mounted:function () {
                let option = {
                    // backgroundColor: '#2c343c',
                    title:{
                        // text:'设备安装数量统计图'
                    },
                    tooltip:{},
                    legend:{
                        data:['用户来源']
                    },
                    xAxis:{
                        data:["110","110kV","220kV"]
                    },
                    yAxis:{
                        name:'Amount',
                    },
                    series:[{
                        name:'设备数量',
                        type:'bar',
                        data:[22,3,16],
                        itemStyle:{
                            color:'rgb(9, 38, 78)',
                            barBorderRadius:[5,5,0,0],
                            opacity:0.5,
                        },
                        labelLine: {
                            normal: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.3)'
                                },
                                smooth: 0.2,
                                length: 10,
                                length2: 20
                            }
                        },
                    }],
                    barWidth:30
                };
                let option2 = {
                    // backgroundColor: transparent,
                    optical:0.5,

                    title: {
                        // text:'装备在线统计图',
                        // left: 'center',
                        // top: 20,
                        // textStyle: {
                        //     color: '#ccc'
                        // }
                    },

                    tooltip : {
                        trigger: 'item',
                        formatter: "{a}  --- {b} : {c} ({d}%)"
                    },

                    visualMap: {
                        show: false,
                        min: 80,
                        max: 600,
                        inRange: {
                            colorLightness: [0, 1]
                        }
                    },
                    series : [
                        {
                            name:'设备数量',
                            type:'pie',
                            radius : ['55%','10%'],
                            minAngle:3,
                            center: ['50%', '50%'],
                            data:[
                                {value:335, name:'在线'},
                                {value:0, name:'离线'},
                            ].sort(function (a, b) { return a.value - b.value; }),
                            label: {
                                normal: {
                                    textStyle: {
                                        color: 'rgba(255, 255, 255, 0.3)'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    lineStyle: {
                                        color: 'rgba(255, 255, 255, 0.3)'
                                    },
                                    smooth: 0.2,
                                    length: 20,
                                    length2: 50
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: 'rgba(48, 228, 183,0.2)',
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            // animationType: 'scale',
                            // animationEasing: 'elasticOut',
                        }
                    ]
                };
                let option3 = {
                    // title: {
                    //     text: '微气象'
                    // },
                    tooltip: {},
                    legend: {
                        data: ['此刻 ( Present )', '昨天 ( Yesterday )']
                    },
                    radar: {
                        // shape: 'circle',
                        radius:'70%',
                        name: {
                            textStyle: {
                                color: '#fff',
                                backgroundColor: '#999',
                                borderRadius: 3,
                                padding: [3, 5]
                            }
                        },
                        indicator: [
                            { name: '风向', max: 360},
                            { name: '雨量', max: 50},
                            { name: '风速', max: 10},
                            { name: '气压', max: 1500}
                        ]
                    },
                    series: [{
                        name: '昨日 vs 此刻（Yesterday vs At present）',
                        type: 'radar',
                        // areaStyle: {normal: {}},
                        data : [
                            {
                                value : [15, 1.1, 0.5 , 1230],
                                name : '此刻 ( Present )'
                            },
                            {
                                value : [285, 10,0.7, 1300],
                                name : '昨天 ( Yesterday )'
                            }
                        ]
                    }]
                };
//初始化echarts实例
                var myChart = echarts.init(document.getElementById('vol-chart'));
                var myChart2 = echarts.init(document.getElementById('online-chart'));
                var myChart3 = echarts.init(document.getElementById('sensor-chart'));

//使用制定的配置项和数据显示图表
                myChart.setOption(option);
                myChart2.setOption(option2);
                myChart3.setOption(option3);

                window.onresize = function () {

                    myChart.resize();
                    myChart2.resize();
                    myChart3.resize();
                };


// slide part

                var wrapper = document.getElementById('wrapper');
                var wrap = document.getElementById('wrap');
                var aBanner = wrap.getElementsByClassName('banner');
                var aSpan = wrap.getElementsByClassName('tab')[0].getElementsByTagName('span');
                var oNext = wrap.getElementsByClassName('next')[0];
                var oPrev = wrap.getElementsByClassName('prev')[0];

                aBanner[0].style.opacity = "1";
                aSpan[0].className = "on" ;
                var num =0;

                var makeOFF = (x)=>{
                        console.log("This is x" +x);
                        console.log(Date());
                        aSpan[x].className = '';
                        aBanner[x].style.opacity = '0';
                        addTr.children[x].style.background = '';
                    },
                    makeOn = (x)=>{
                        console.log("This is x" +x);
                        aSpan[x].className = 'on';
                        aBanner[x].style.opacity = '1';
                        addTr.children[x].style.background = 'rgba(246,135,124,.6)';
                    };

                for (var i = 0; i < aBanner.length; i++) {
                    aSpan[i].index = i;
                    aSpan[i].onclick = function(){
                        makeOFF(num);
                        num = this.index;
                        makeOn(num);
                    }
                }

                function timeSlide(){
                    makeOFF(num);
                    num = (num+1)%aBanner.length;
                    makeOn(num);
                }

                var timer = setInterval(timeSlide,2000);

                oNext.onclick = function () {
                    clearInterval(timer);
                    timeSlide();
                    timer = setInterval(timeSlide,2000);
                };

                oPrev.onclick = function () {
                    console.log("This is the start of prev"+num);
                    clearInterval(timer);
                    aBanner[num].style.opacity = '0';
                    aSpan[num].className = "";
                    num = (num-1+aBanner.length)%aBanner.length;
                    aBanner[num].style.opacity = '1';
                    aSpan[num].className = 'on';
                    timer = setInterval(timeSlide, 2000);
                    console.log("This is the end of prev"+ num);
                };

                wrapper.onmouseover = function () {
                    clearInterval(timer);
                };
                wrapper.onmouseout = function () {
                    clearInterval(timer);
                    timer = setInterval(timeSlide,2000);
                };


// ----------------- 添加表格悬浮相应


                for(let i=0; i < addTr.children.length; i++){

                    addTr.children[i].addEventListener('mouseover',(e)=>{
                        clearInterval(timer);
                        makeOFF(num);
                        num = i;
                        makeOn(num);
                    });
                    addTr.children[i].addEventListener('mouseout',(e)=>{
                        clearInterval(timer);
                        timer = setInterval(timeSlide, 2000);
                    });
                }



                (()=>{
                    for (let i=0; i<addTr.children.length; i++){
                        addTr.children[i].addEventListener('click',(e)=>{
                            window.location.href = '/warning/?id=' + addTr.children[i].dataset.id;
                        })
                    }
                })();
            }

        })
    </script>
{% endblock %}
