{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}告警分析{% endblock %}

{% block extern_file %}
    <link rel="stylesheet" href="{% static 'lib/datetimepicker/datetimepicker.min.css' %}">
{% endblock %}

{% block main_body %}
    <div class="warning-body center">
        <div class="warning-content">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0" class="my-table">
                    <thead>
                    <tr>
                        {#                        <th>编号</th>#}
                        <th class="my-th">
                            <label for="warning-date">
                                日期
                                <input id="warning-date" type="text" class="form-control form-date text-center" placeholder="选择或者输入一个日期：yyyy-MM-dd">
                            </label>
                        </th>
                        <th class="my-th">
                            <label for="warning-info">
                                预警详情
                            </label>

                        </th>
                        <th class="my-th">
                            <label for="warning-device">
                                设备编号
                            </label>
                            <select name="device" id="warning-device" class="form-control chosen-selected text-center">
                                <option value="all">所有设备</option>
                            </select>

                        </th>
                        <th class="my-th">
                            <label for="">设备标识</label>
                        </th>
                        <th class="my-th">
                            <label for="warning-state">
                                审核状态
                            </label>
                            <select name="state" id="warning-state" class="form-control chosen-selected text-center">
                                <option value="all" class="text-center">所有</option>
                                <option value="true" class="text-center">已审核</option>
                                <option value="false" class="text-center">未审核</option>
                            </select>
                        </th>
                        <th class="my-th">
                            <label for="warning-img">
                                预警图片
                            </label>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" id="warning-table">
                <table cellpadding="0" cellspacing="0" border="0" class="my-table">
                    <tbody id="add-tr">
                    </tbody>
                </table>
            </div>
            <div class="warning-bar pull-right" id="selected-active" style="display: none;">
                <button class="btn btn-lg btn-success" id="make-true" data-toggle="modal" data-target="#myModal">预警正确</button>
                <button class="btn btn-lg btn-danger" id="make-false" data-toggle="modal" data-target="#myModal2">预警错误</button>
            </div>
        </div>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">注意</h4>
                    </div>
                    <div class="modal-body">
                        <p id="model1-para"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="postTrue()">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">注意</h4>
                    </div>
                    <div class="modal-body">
                        <p id="model2-para"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="postFalse()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src=" {% static 'js/warning.js' %}"></script>
    <script src="{% static 'lib/selectable/zui.selectable.min.js' %}"></script>
    <script src="{% static  'lib/datetimepicker/datetimepicker.min.js' %}"></script>
    <script>

        var UserMessageList = {{ user_message_list|safe }};

        var addTr = document.getElementById('add-tr'),
            warningDevice = document.getElementById('warning-device'),
            selectActive = document.getElementById('selected-active');



        function showFloating(message,success,other) {
            new $.zui.Messager(message,{
                    type:other ? other : (success?'success':'warning'),
                    icon:success?'heart':'bug'
                }
            ).show();
        }
        function ListRender(){

            let flag = true,
                opt = {};

            for(let i=UserMessageList.length-1; i >=0 ; i--){
                flag = false;
                let theNumber = document.createElement('td'),
                    theDate = document.createElement('td'),
                    theInfo = document.createElement('td'),
                    DeviceNumber = document.createElement('td'),
                    DeviceHint = document.createElement('td'),
                    theStatus = document.createElement('td'),
                    thePic = document.createElement('td'),
                    realPic = document.createElement('img');

                let theTd = document.createElement('tr');

                let Node = UserMessageList[i];
                theNumber.innerText = Node['id'];
                theNumber.className = 'my-td';
                theDate.innerText = Node['c_time'];
                theDate.className = 'my-td';
                theInfo.innerText = Node['content'];
                theInfo.className = 'my-td';
                DeviceNumber.innerText = Node['device_number'];
                opt[Node['device_number']] = 1;
                DeviceNumber.className = 'my-td';
                DeviceHint.innerText = Node['device_hint'];
                DeviceHint.className = 'my-td';
                theStatus.innerText  = (Node['deal'] ? '已审核':'未审核');
                theStatus.className = 'my-td';
                realPic.src = Node['img_url'];
                realPic.className = 'my-td';
                thePic.appendChild(realPic);
                {#let list = [theNumber,theDate,theInfo,DeviceNumber,DeviceHint,theStatus,thePic];#}

                {#theTd.appendChild(theNumber);#}
                theTd.appendChild(theDate);
                theTd.appendChild(theInfo);
                theTd.appendChild(DeviceNumber);
                theTd.appendChild(DeviceHint);
                theTd.appendChild(theStatus);
                theTd.appendChild(thePic);

                theTd.setAttribute('data-state',Node['deal']);
                theTd.setAttribute('data-id',Node['id']);
                theTd.setAttribute('data-date', Node['c_time']);
                theTd.setAttribute('data-device', Node['device_number']);

                addTr.appendChild(theTd);
            }

            for(id in opt){
                let Option = document.createElement('option');

                Option.value = opt[id];
                Option.innerText = opt[id];

                warningDevice.appendChild(Option);
            }
            if(flag) {
                showFloating("没有查询到对应数据",false);
            }
            else {
                showFloating('查询成功', true);
            }
        }
        function reRender(Date, Device, State) {
            var mySelectable = $('#add-tr').data('zui.selectable');
            mySelectable.unselect();
            let flag =true;
            for(let i=0; i < addTr.children.length; i++)
            {
                if ((State === "all" || State === addTr.children[i].dataset.state) &&
                    (Date === "" || Date === addTr.children[i].dataset.date) &&
                    (Device === 'all' || Device === addTr.children[i].dataset.device)) {
                    flag = false;
                    addTr.children[i].style.display = "";
                    console.log(' ' + addTr.children[i].dataset.state + addTr.children[i].dataset.date + addTr.children[i].dataset.device);
                }
                else{
                    addTr.children[i].style.display = "none";
                }
            }
            rebind();
            if(flag) {
                showFloating("没有查询到对应数据",false);
            }
            else {
                showFloating('查询成功', true);
            }
        }

        ListRender();
        rebind();

        $('#add-tr').selectable({
            selector: 'tr',
            select:function (e) {
                let theDate = $('#add-tr').data('zui.selectable');
                console.log(theDate.selections);
                console.log(e.id + e.selected.length);
                console.log(e.selected);
                if(e.selected.length >0 ){
                    selectActive.style.display = '';
                }
                else{
                    selectActive.style.display = 'none';
                }
            },
            unselect:function (e) {
                console.log(e.id + e.selected.length);
                console.log(e.selected);
                if(e.selected.length >0 ){
                    selectActive.style.display = '';
                }
                else{
                    selectActive.style.display = 'none';
                }
            }
        });

        // 仅选择日期

        var date = document.querySelector('#warning-date'),
            device = document.querySelector('#warning-device'),
            state = document.querySelector('#warning-state');

        $(".form-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            }).on('changeDate', function (e) {
            reRender(date.value, device.value, state.value);
        });

        date.addEventListener('change',(e)=>{
            reRender(date.value, device.value, state.value);
        });
        state.addEventListener('change',(e)=>{
            reRender(date.value, device.value, state.value);
        });
        device.addEventListener('change',(e)=>{
            reRender(date.value, device.value, state.value);
        });

        showFloating('单击单选，拖拽复选;\n按住Ctrl可以附加选\n按住Alt选取文字(如果发现不能选中，尝试单击Alt)', 'false', 'special');

        $('#myModal').on('shown.zui.modal', function (e) {
            let para1 = document.getElementById('model1-para'),
                theDate = $('#add-tr').data('zui.selectable').selections,
                len =0;

            for (i in theDate){
                if(theDate[i]){
                    len++;
                }
            }
            para1.innerText = ('你确定要将这 ' + len +'条预警信息标记为告警正确么？');
        });
        $('#myModal2').on('shown.zui.modal', function (e) {
            let para1 = document.getElementById('model2-para'),
                theDate = $('#add-tr').data('zui.selectable').selections,
                len =0;

            for (i in theDate){
                if(theDate[i]){
                    len++;
                }
            }
            para1.innerText = ('你确定要将这 ' + len +'条预警信息标记为告警错误么？');
        });

        function changeState(changeArray) {
            console.log(changeArray);
            for(let i=0, cl=changeArray.length; i <cl; i++ ){
                console.log(changeArray[i]);
                for(let j =0,al = addTr.children.length; j < al; j++){
                    console.log(addTr.children[j]);
                    console.log(addTr.children[j].dataset.id);
                    if( changeArray[i] == addTr.children[j].dataset.id){
                        addTr.children[j].setAttribute('data-state', 'true');
                        addTr.children[j].children[4].innerText = '已审核';
                    }
                }
            }
        }
        
        function postTrue() {
            let theDate = $('#add-tr').data('zui.selectable').selections,
                retArray  = [];
            for(let i in theDate){
                if(theDate[i]){
                    retArray.push(i);
                }
            }
            $.post('/warning/true/',{'data':retArray.toString()},(data, textStatus, jqXHR)=>{
                if (textStatus === 'success') {
                    showFloating('修改成功','true');
                    changeState(retArray);
                }
                else{
                    showFloating('修改失败', 'false', 'warning');
                }
            })
        }
        function postFalse() {
            let theDate = $('#add-tr').data('zui.selectable').selections,
                retArray  = [];
            for(let i in theDate){
                if(theDate[i]){
                    retArray.push(i);
                }
            }
            $.post('/warning/false/',{'data':retArray.toString()},(data, textStatus, jqXHR)=>{
                if (textStatus === 'success') {
                    showFloating('修改成功','true');
                    changeState(retArray);
                }
                else {
                    showFloating('修改失败', 'false', 'warning');
                }
            })
        }

    </script>
{% endblock %}