{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}告警分析{% endblock %}

{% block main_body %}
<div class="warning-body center">
        <div class="warning-content">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>日期</th>
                        <th>预警详情</th>
                        <th>设备编号</th>
                        <th>设备标识</th>
                        <th>审核状态</th>
                        <th>告警图片</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content" id="warning-table">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody id="add-tr">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="warning-bar">

        </div>
</div>
{% endblock %}

{% block script %}
    <script src=" {% static 'js/warning.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="{% static 'js/zui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/selectable/zui.selectable.min.js' %}"></script>
    <script>

        var UserMessageList = {{ user_message_list|safe }};

        var addTr = document.getElementById('add-tr');



        function showFloating(message,success) {
            new $.zui.Messager(message,{
                type:success?'success':'warning',
                icon:success?'heart':'bug'
                }
            ).show();
        }
        function ListRender(){

            let flag = true;

            for(let i=0; i < UserMessageList.length; i++){
                flag = false;
                let theNumber = document.createElement('td'),
                    theDate = document.createElement('td'),
                    theInfo = document.createElement('td'),
                    DeviceNumber = document.createElement('td'),
                    DeviceHint = document.createElement('td'),
                    theStatus = document.createElement('td'),
                    thePic = document.createElement('td'),
                    realPic = document.createElement('img');

                let theTd = document.createElement('tr');

                let Node = UserMessageList[i];
                theNumber.innerText = Node['id'];
                theDate.innerText = Node['c_time'];
                theInfo.innerText = Node['content'];
                DeviceNumber.innerText = Node['device_number'];
                DeviceHint.innerText = Node['device_hint'];
                theStatus.innerText  = (Node['deal'] ? '已审核':'未审核');
                realPic.src = Node['img_url'];
                thePic.appendChild(realPic);
                {#let list = [theNumber,theDate,theInfo,DeviceNumber,DeviceHint,theStatus,thePic];#}

                theTd.appendChild(theNumber);
                theTd.appendChild(theDate);
                theTd.appendChild(theInfo);
                theTd.appendChild(DeviceNumber);
                theTd.appendChild(DeviceHint);
                theTd.appendChild(theStatus);
                theTd.appendChild(thePic);

                theTd.setAttribute('data-state',Node['deal']);
                theTd.setAttribute('data-id', Node['id']);

                addTr.appendChild(theTd);
            }
            if(flag) {
                showFloating("没有查询到对应数据",false);
            }
            else {
                showFloating('查询成功', true);
            }
        }
        function reRender(targetState) {
            let flag =true;
            for(let i=0; i < addTr.children.length; i++)
            {
                if (targetState === "all" || targetState === addTr.children[i].dataset.state) {
                    flag = false;
                    addTr.children[i].style.display = "";
                }
                else{
                    addTr.children[i].style.display = "none";
                }
            }
            rebind();
        }

        ListRender();
        rebind();

        $('#add-tr').selectable({
            selector: 'tr',
            select:function (e) {
                console.log(e.id + e.selected.length);
                console.log(e.selected);
            }
        });

    </script>
{% endblock %}